amqp==2.2.2
Babel==2.5.3
billiard==3.5.0.3
celery==4.2.0rc4
click==6.7
Flask==1.0.2
flask-bootstrap==3.3.7.1
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.0
MarkupSafe==1.0
pytz==2018.3
redis==2.10.6
tornado==5.0.2
vine==1.1.4
Werkzeug==0.14.1
msgpack-python==0.4.6
PyMySQL==0.6.6
python-dateutil==2.4.2
requests==2.14.2
six==1.9.0
SQLAlchemy==1.0.8

